

* {
    margin: 0;
    padding: 0;
    font-family: verdana;
  }
  body{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('kol.jpg'); /* Reemplaza 'tu-imagen.jpg' con la URL de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bod{
    
        position: relative;
        /* width: 100vw; */
        /* height: 100vh; */
        background-image: url(kol.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
}
  
  .wrapper {
    width: 70%;
    margin: 0 auto;
    padding: 2%;
    background-color: #bfbfbf;
  }
  /*este es el menu*/


  .menuLateral{
    position: fixed;
    /* width: 200px; */
    height: 15rem;
    background-color: rgb(94 87 87 / 70%);
    backdrop-filter: blur(10px);
    color: #fff;
    padding-top: 20px;
    margin-left: 10px;
    border-radius: 10px;
  }
  .menuLateral ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .menuLateral a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;
  }
  
  .menuLateral a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Cambia el color al pasar el ratón */
  }







  /*//////////////////////////////////////*/
  h1 {
    color: #000000;
    margin-bottom: 2%;
    text-align: center;
  }
  h3 {
    margin: 2% 0;
  }
  
  .menu {
    margin-bottom: 2%;
  }
  
  .menu a {
    font-weight: bold;
    margin-right: 1%;
    color: black;
    text-decoration: none;
  }
  
  .menu a:hover {
    text-decoration: underline;
  }
  
  .btn-primary {
    background-color: #26de81;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }
  
  .btn-primary:hover {
    background-color: #20bf6b;
  }
  
  .btn-secondary {
    background-color: #778ca3;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  .btn-secondary:hover {
    background-color: #4b6584;
  }
  
  .btn-lg {
    width: 50%;
  }
  
  .tbl-full {
    width: 100%;
  }
  
  table tr th {
    text-align: left;
    border-bottom: 1px solid black;
    padding: 1%;
    padding-top: 3%;
  }
  
  table tr td {
    padding: 1%;
  }
  
  .tbl-half {
    width: 40%;
  }
  
  
  /*Actualizar datos diseno*/
  .center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .profile-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .profile-info table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  .profile-info th, .profile-info td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .profile-info th {
    background-color: #f2f2f2;
  }
  
  .profile-img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
  }

  /*//////////////////////////////////*/

  /*Estilo navegacion */
  .conNav {
    background-color: #333; /* Cambia el color de fondo del menú según sea necesario */
    padding: 10px 0;
    text-align: center;
  }
  
  .navega {
    display: inline-block;
  }
  
  .navega a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #555; /* Cambia el color de fondo del enlace según sea necesario */
  }
  
  .navega a:hover {
    background-color: #777; /* Cambia el color de fondo al pasar el ratón sobre el enlace */
  }

  .ana {
    text-align: center;
    margin-top: 20px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-dark {
    background-color: #333; /* Cambia el color de fondo del botón según sea necesario */
    color: #fff;
  }
  
  .btn-dark:hover {
    background-color: #555; /* Cambia el color de fondo al pasar el ratón sobre el botón */
  }
  /*//////////////////////////////////*/


  /*estilo formulario*/
  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .formularios {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    width: 100%;
  }
  
  fieldset {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #555; /* Cambia el color de fondo del botón según sea necesario */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #555; /* Cambia el color de fondo al pasar el ratón sobre el botón */
  }

  /*//////////////////////////////////*/